/* CONTENIDO */
#leaderboard {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.leaderboard_contenedor {
    display: flex;
    flex-direction: column;
}

.leaderboard_cabecera {
    display: flex;
    gap: 1em;
    padding: 1em 0 1em 0;
    background: rgb(0 0 0 / 30%);
    border-radius: 50px;
    margin-bottom: 1em;
}

.leaderboard_cabecera div {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.leaderboard_contenido {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


.leaderboard_persona {
    box-shadow: 0 0 5px 0px black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: rgb(0 0 0 / 10%);
}

.leaderboard_persona div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leaderboard_name {
	display: flex;
    align-items: center;
    gap: 0.5em;
	justify-content: flex-start !important;
}

.leaderboard_name > p {
	width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard_name img{
	width: 3.5em;
	height: 3.5em;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

@media (max-width: 1100px) {
	.tiempo {
		display: none !important;
	}
}

@media (max-width: 850px) {
	.intentos {
		display: none !important;
	}
	.dificultad {
		width: 5em !important;
	}
}

@media (max-width: 500px) {
	.dificultad {
		display: none !important;
	}

}

@media (max-width: 320px) {
	.leaderboard_name > p {
		width: 5em;
	}
	.leaderboard_persona {
		gap: 0.5em;
	}
}

